{% extends "base.html" %}{% load socialaccount %}
{% block title %}
Signup
{% endblock %}

{% block content %}
<h2><a href="{% url "account_login" %}">Login</a> | Signup</h2>
<div>
  <p>
    <a href="{% provider_login_url "facebook" method="oauth2" process="login" %}"><i class="fa fa-facebook-square"></i></a>
    <a href="{% provider_login_url "twitter" process="login" %}"><i class="fa fa-twitter-square"></i></a>
  </p>
</div>
<h3>OR</h3>
<form method="post" action="{% url "account_signup" %}" class="pure-form pure-form-stacked">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Signup" class="pure-button pure-button-primary" >
</form>
{% endblock %}
