{% extends "base.html" %}{% load socialaccount %}
{% block title %}
Signup
{% endblock %}

{% block content %}
<div class="pure-g">
  <div class="pure-u-1">
    <h2><a href="{% url "account_login" %}">Login</a> | Signup</h2>
    <p>
      <a href="{% provider_login_url "facebook" method="oauth2" process="login" %}"><i class="fa fa-facebook-square fa-4x"></i></a>
      <a href="{% provider_login_url "twitter" process="login" %}"><i class="fa fa-twitter-square fa-4x"></i></a>
      <a href="{% provider_login_url "linkedin_oauth2" process="login" %}"><i class="fa fa-linkedin-square fa-4x"></i></a>
    </p>
    <h3>OR</h3>
    <form method="post" action="{% url "account_signup" %}" class="pure-form pure-form-stacked">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="hidden" name="next" value="{% url "scheduled_posts_list" %}" >
      <input type="submit" value="Signup" class="pure-button pure-button-primary" >
    </form>
  </div>
</div>
{% endblock %}
