{% extends "base.html" %}{% load i18n %}

{% block title %}
{% trans "Add a scheduled post" %}
{% endblock %}

{% block extra_css %}
<style type="text/css" media="screen">
  .info { color: #f00; }
</style>
{% endblock %}

{% block content %}
<p><a href="{% url "scheduled_posts_list" %}">{% trans "View scheduled posts" %}</a></p>
<form method="post" action="." class="pure-form pure-form-stacked">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="{% trans "Schedule" %}" class="pure-button pure-button-primary" >
</form>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    (function() {
	var statusBox = document.querySelector("textarea[name=status]");
	var info = document.createElement("span");
	info.className = "info";
	statusBox.parentNode.insertBefore(info, statusBox);
	statusBox.addEventListener("keyup", function() {
	    info.innerHTML = statusBox.value.length;
	});

	if (document.querySelectorAll(".errorlist").length === 0) {
	    var dateInput = document.querySelector("#id_scheduled_datetime_0");
	    var timeInput = document.querySelector("#id_scheduled_datetime_1");
	    var tzInput = document.querySelector("#id_scheduled_tz");
	    var tz = moment.tz.guess();
	    var nextDateTime = moment(new Date(dateInput.value + "T" + timeInput.value + "Z"));
	    dateInput.value = nextDateTime.format("YYYY-MM-DD");
	    timeInput.value = nextDateTime.format("HH:mm:ss");
	    tzInput.value = tz;
	}
    })();
</script>
{% endblock %}
