{% extends "base.html" %}{% load socialaccount i18n %}

{% block title %}
{% trans "List of scheduled posts" %}
{% endblock %}

{% block content %}
<div class="pure-u-1">
  <div class="pure-u-1 row">
    <a href="{% provider_login_url "facebook" method="oauth2" process="connect" %}"><i class="fa fa-facebook-square fa-2x"></i></a>
    <a href="{% provider_login_url "twitter" process="connect" %}"><i class="fa fa-twitter-square fa-2x"></i></a>
    <a href="{% provider_login_url "linkedin_oauth2" process="connect" %}"><i class="fa fa-linkedin-square fa-2x"></i></a>
  </div>
</div>
<div class="pure-u-1 row">
  <div class="pure-u-1">
    <a href="{% url "scheduled_posts_add" %}">{% trans "Schedule a post" %}</a>
    |
    <a href="javascript:void(0);" class="api_key">{% trans "View API Key" %}</a>
  </div>
</div>
<div class="pure-u-1">
  <div class="pure-u-1 posts">
    <p class="hidden api_key_holder"><strong>API Key:</strong> {{ api_keys.all.0.token }}</p>
    {% for post in posts %}
    <div class="pure-u-1 post">
      <div class="pure-u-1 header">
        {% if forloop.first %}
        <div class="pure-u-1 pure-u-lg-12-24"><h4>{% trans "Status" %}</h4></div>
        <div class="pure-u-1 pure-u-lg-2-24"><h4>{% trans "Service" %}</h4></div>
        <div class="pure-u-1 pure-u-lg-5-24"><h4>{% trans "Scheduled Time" %}</h4></div>
        <div class="pure-u-1 pure-u-lg-4-24"><h4>{% trans "Action" %}</h4></div>
        {% endif %}
      </div>
      <div class="pure-u-1">
        <div class="pure-u-1 pure-u-lg-12-24">
          <p>{{ post.status }}</p>
          {% with extra=post.get_extra %}
          {% if extra %}
          <p class="button-error">{{ extra.error }}</p>
          {% endif %}
          {% endwith %}
        </div>
        <div class="pure-u-1 pure-u-lg-2-24">
          <p>{{ post.service|capfirst }}</p>
        </div>
        <div class="pure-u-1 pure-u-lg-5-24 datetime">
          <p>{{ post.scheduled_datetime|date:"c" }}</p>
        </div>
        <div class="pure-u-1 pure-u-lg-4-24">
          <p>
          <a href="{% url "scheduled_posts_copy" id=post.id %}">{% trans "Copy" %}</a>
        |
          <a href="{% url "scheduled_posts_edit" id=post.id %}">{% trans "Edit" %}</a>
        |
          <a href="javascript:deletePost('{% url "scheduled_posts_delete" id=post.id %}');">{% trans "Delete" %}</a>
          </p>
        </div>
      </div>
    </div>
    {% empty %}
    {% url scheduled_posts_add as scheduled_posts_add_url %}
    <div class="pure-u-1">
      <h4>{% blocktrans with add_url=scheduled_posts_add_url %}No scheduled posts in the queue. Please click <a href="{{ add_url }}">here</a> to add one.{% endblocktrans %}</h4>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    function deletePost(url) {
	if (confirm("{% trans "Are you sure you want to delete the post?" %}")) {
	    window.location = url;
	}
    }
    (function() {
	var apiKeyLink = document.querySelector(".api_key");
	apiKeyLink.addEventListener("click", function() {
	    var apiKeyHolder = document.querySelector(".api_key_holder");
	    if (apiKeyHolder.className.search(/hidden/) >= 0) {
		apiKeyHolder.className = "api_key_holder";
		apiKeyLink.innerHTML = "{% trans "Hide API Key" %}";
	    } else {
		apiKeyHolder.className = "hidden api_key_holder";
		apiKeyLink.innerHTML = "{% trans "View API Key" %}";
	    }
	});

	var tz = moment.tz.guess();
	var datetimes = document.querySelectorAll(".datetime p");
	for (var ii=0; ii < datetimes.length; ii++) {
	    datetimes[ii].innerHTML = moment(new Date(datetimes[ii].innerHTML)).tz(tz).format("YYYY-MM-DD HH:mm A z");
	}
    })();
</script>
{% endblock %}
