.pure-g {
    padding: 10px;
}
.row {
    margin-bottom: 10px;
}
.header {
    background-color: #cbcbcb;
}
.header h4 {
    margin: 10px 0;
}
.post {
    padding: 10px 0;
}
.post:nth-child(odd) {
    background-color: #f2f2f2;
}
.post p {
    margin: 5px 0;
}
.button-error {
    background: rgb(202, 60, 60);
    color: #fff;
}

@media (max-width: 1024px) {
    .pure-u-1.header {
        display: none;
    }
}
